<h1>Question Paper</h1>
<% @scodes.each do |s| %>
<h2> <%= s.sname %> </h2>
<% @sub[s.scode].each do |question| %> 
<p><%= question.question %></p>
<% end %>
<% end %>
<p> Go back to
  <%= link_to "home", random_index_path %>
</p>