/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* Main Show starts now, baby */

/*
@dark-one: #20403E;
@dark-two: #417F7C;
@light-one: #61BFBA;
@light-two: #74E5DF;
@light-three: #81FFF7; 
*/

body {
  font: 20px Helvetica, Sans-Serif; 
  line-height: 24px;
  background-color: #20403E; 
}

#main {
  background-color: #81FFF7;
}


#container, #headcont, #footcont {
  width: 960px;
  margin: 0 auto 24px auto;  

  nav ul li {
    display: inline;
    a {
      text-decoration: none;
    }
  }

  nav ul li {
    float: left; list-style: none;
    width: 320px; 
    text-align: center;
    background-color: #417F7C;
    padding-top: 10px; padding-bottom: 10px;
    a { 
      text-decoration: none;
      color: #74E5DF;
    }
  }
}

#container {
  min-height: 600px;
}
  
#header, footer {
  background-color: #20403E;
}

footer p {
  color: #61BFBA;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.4;
  a {
    text-decoration: none;
    color: #74E5DF;
  }
}

#actual_title {
    text-align:center;
    width: auto;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    padding: 60px;

    a {
      text-decoration: none;
      color: #81FFF7;
    }

  }

