/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* Main Show starts now, baby */

/*
@dark-one: #20403E;
@dark-two: #417F7C;
@light-one: #61BFBA;
@light-two: #74E5DF;
@light-three: #81FFF7; 
*/

body {
  font: 20px Helvetica, Sans-Serif; 
  line-height: 24px;
  background-color: #20403E; 
}

#main {
  background-color: #81FFF7;
}


#container, #headcont, #footcont {
  width: 960px;
  margin: 0 auto 24px auto;  

  nav ul li {
    display: inline;
    a {
      text-decoration: none;
    }
  }


  nav ul li {
    float: center; list-style: none;
    //width: 320px; 
    text-align: center;
    //background-color: #417F7C;
    //padding-top: 10px; padding-bottom: 10px;
    a { 
      text-decoration: none;
      color: #74E5DF;
    }
  }

  nav ul {
    padding: 0 200px;
  }
}

#headcont, #footcont {
  margin: 0 auto;
}

#container {
  min-height: 600px;
}
  
#header, footer {
  background-color: #20403E;
}

footer {
  padding-top: 24px;
  padding-bottom: 10px;
}

footer p {
  color: #61BFBA;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.4;
  a {
    text-decoration: none;
    color: #74E5DF;
  }
}

#actual_title {
    text-align:center;
    width: auto;
    font-family: 'Oswald', Sans-Serif;
    font-weight: 300;
    font-size: 3em;
    padding: 60px;

    a {
      text-decoration: none;
      color: #81FFF7;
      text-shadow: 0px 4px 4px #000000, 0px 5px 4px #ffffff;
    }

  }

/* 

'Oswald', sans-serif;: font-family: 'Oswald', sans-serif;
$blue: #2E9FFF;
$white: #FFFFFF;
$bg: #1a1a1a;

*/

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.btn {
   @include border-radius(0);
   @include transition(all .2s linear);
   padding-top: 0;
   padding-bottom: 0;
   width: 150px;
   margin: 0 10px;
  
   font: 300 24px/62px 'Oswald', sans-serif;
   letter-spacing: .15em;
   text-transform: uppercase;
  
   border: 3px solid #20403E; //rgba(46, 159, 255, 0.1);
   background: #20403E;
   color: darken(#81FFF7, 2%);
   
    &.style1 {
     position: relative;
     z-index:1;
     &:before {
       position: absolute;
       content: '';
       top: 50%;
       left: 50%;
       height: 0;
       width: 0;
       border-radius: 50%;
       background: #81FFF7;
       z-index: -1;
       @include transform(translate(-50%, -50%));
       @include transition(width .3s, height .2s ease-in-out, border-radius .1s linear .05s);
     }
      &:hover:before {
        width: 100%;
        height: 100%;
        border-radius: 10px;
     }
   } /* .style1 */
  
   &:hover,
   &:active {
      color: #20403E;

  }
}

